    <!-- Carousel -->
<div id="carousel" class="carousel slide myCarousel" data-bs-ride="carousel">

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
        </div>
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/header/slides/Slide-1.jpg" alt="slide-1" class="d-block w-100 myCarousel__img">
          </div>
          <div class="carousel-item">
            <img src="assets/img/header/slides/Slide-2.jpg" alt="slide-2" class="d-block w-100 myCarousel__img">
          </div>
          <div class="carousel-item">
            <img src="assets/img/header/slides/Slide-3.jpg" alt="slide-3" class="d-block w-100 myCarousel__img">
          </div>
        </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
        <div class="myCarousel-caption">
          <div class="myCarousel-caption__textbox">
            <p class="myCarousel-caption__heading">Phụ kiện dã ngoại - Camping</p>
            <p class="myCarousel-caption__title">Tất tần tật cho buổi cắm trại</p>
          </div>
          <a class="myCarousel-caption__btn" href="#" >Xem thêm <i class="fa-solid fa-angle-right"></i></a>
        </div>
</div>

<div class="grid">
  <div class="home-session">
    <div class="home-session__title">
    <h3>Sản phẩm Mới nhất</h3>
  </div>
  <div class="row w-100">
    <div class="col-lg-2"></div>
      <div class="row col-lg-8">
        <div class="col-lg-4" *ngFor="let item of products.slice(-3)">
          <div class="home-session__card card">
            <img [src]="'assets/img/products/'+ item.image" [alt]="item.name" class="card__img w-100">
            <div class="card__body card-body">
              <div class="card__title">
                <h4>{{item.name}}</h4>
              </div>
              <div class="card__price">
                <p>{{item.price | number }} <sup>₫</sup>/ngày</p>
              </div>
              <div class="card__footer">
                <button class="card__button btn btn-outline-success btn-lg" (click)="addCart(item)">Thêm vào giỏ hàng</button>
                <button class="card__eyebutton btn btn-outline-success btn-lg" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#m'+item.id"><i class="fa-solid fa-eye"></i></button>
              </div>
            </div>
          </div>
          <!-- The Modal -->
          <div class="modal" [attr.id]="'m'+item.id">
            <div class=" modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content ">

                <!-- Modal body -->
                <div class="modal-body my-modal__body">
                  <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal"></button>
                  <div class="row">
                    <div class="col-lg-6">
                      <img [src]="'assets/img/products/'+item.image" [alt]="item.name" class="w-100">
                    </div>
                    <div class="col-lg-6 my-modal__contents">
                      <h2 class="my-modal__name">Cho thuê {{item.name}}</h2>
                      <div class="my-modal__description">
                        <ul>
                          <li>Kích thước: {{item.description}}</li>
                        </ul>
                      </div>
                      <p class="my-modal__price">{{item.price | number }} <sup>₫</sup>/ngày</p>
                      <div class="my-modal__rent">
                        <p class="my-modal-rent__text">*Vui lòng chọn số ngày định thuê</p>
                        <button (click)="setCartDaysRent(1)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==1}" class="my-modal-rent__button btn btn-outline-secondary" type="button">1 Ngày</button>
                        <button (click)="setCartDaysRent(2)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==2}" class="my-modal-rent__button btn btn-outline-secondary" type="button">2 Ngày</button>
                        <button (click)="setCartDaysRent(3)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==3}" class="my-modal-rent__button btn btn-outline-secondary" type="button">3 Ngày</button>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <button (click)="setCartQuantityMinus()" class="btn btn-outline-secondary modal-input__button" type="button">-</button>
                            </div>
                            <input type="number" class="form-control modal-input__input" [value]="cartQuantity" disabled placeholder="" aria-label="">
                            <div class="input-group-append">
                              <button (click)="setCartQuantityPlus()" class="btn btn-outline-secondary modal-input__button" type="button">+</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-8">
                          <button (click)="addCart(item,cartQuantity,cartDaysRent)" class="my-modal__button btn btn-outline-warning btn-lg" data-bs-dismiss="modal" type="button">Thêm vào giỏ hàng</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <div class="home-session" id="Leu">
    <div class="home-session__title">
      <h3>Các sản phẩm lều trại</h3>
    </div>
    <div class="home-session__category">
      <button (click)="setPipeLeuTraiCategory('AllLeu')" [class.card__button--selected]="pipeLeuTraiCategory === 'AllLeu'" class="card__button btn btn-outline-success btn-lg">Tất cả</button>
      <button (click)="setPipeLeuTraiCategory('Lều 2 người')" [class.card__button--selected]="pipeLeuTraiCategory === 'Lều 2 người'" class="card__button btn btn-outline-success btn-lg">Lều 2 người</button>
      <button (click)="setPipeLeuTraiCategory('Lều 4 người')" [class.card__button--selected]="pipeLeuTraiCategory === 'Lều 4 người'" class="card__button btn btn-outline-success btn-lg">Lều 4 người</button>
      <button (click)="setPipeLeuTraiCategory('Lều 6 người')" [class.card__button--selected]="pipeLeuTraiCategory === 'Lều 6 người'" class="card__button btn btn-outline-success btn-lg">Lều 6 người</button>
      <button (click)="setPipeLeuTraiCategory('Lều 12 người')" [class.card__button--selected]="pipeLeuTraiCategory === 'Lều 12 người'" class="card__button btn btn-outline-success btn-lg">Lều 12 người</button>
    </div>
      <div class="row w-100">
        <div class="col-lg-2"></div>
        <div class="row col-lg-8">
          <div class="col-lg-4" *ngFor="let item of products | arrayFilter: pipeLeuTraiCategory" (change)="setPipeLeuTraiCategory(pipeLeuTraiCategory)">
            <div class="home-session__card card">
              <img [src]="'assets/img/products/'+ item.image" [alt]="item.name" class="card__img w-100">
              <div class="card__body card-body">
                <div class="card__title">
                  <h4>{{item.name}}</h4>
                </div>
                <div class="card__price">
                  <p>{{item.price | number }} <sup>₫</sup>/ngày</p>
                </div>
                <div class="card__footer">
                  <button class="card__button btn btn-outline-success btn-lg" (click)="addCart(item)">Thêm vào giỏ hàng</button>
                  <button class="card__eyebutton btn btn-outline-success btn-lg" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#m'+item.id"><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
            <!-- The Modal -->
            <div class="modal" [attr.id]="'m'+item.id">
              <div class=" modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content ">

                  <!-- Modal body -->
                  <div class="modal-body my-modal__body">
                    <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal"></button>
                    <div class="row">
                      <div class="col-lg-6">
                        <img [src]="'assets/img/products/'+item.image" [alt]="item.name" class="w-100">
                      </div>
                      <div class="col-lg-6 my-modal__contents">
                        <h2 class="my-modal__name">Cho thuê {{item.name}}</h2>
                        <div class="my-modal__description">
                          <ul>
                            <li>Kích thước: {{item.description}}</li>
                          </ul>
                        </div>
                        <p class="my-modal__price">{{item.price | number }} <sup>₫</sup>/ngày</p>
                        <div class="my-modal__rent">
                          <p class="my-modal-rent__text">*Vui lòng chọn số ngày định thuê</p>
                          <button (click)="setCartDaysRent(1)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==1}" class="my-modal-rent__button btn btn-outline-secondary" type="button">1 Ngày</button>
                          <button (click)="setCartDaysRent(2)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==2}" class="my-modal-rent__button btn btn-outline-secondary" type="button">2 Ngày</button>
                          <button (click)="setCartDaysRent(3)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==3}" class="my-modal-rent__button btn btn-outline-secondary" type="button">3 Ngày</button>
                        </div>
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <button (click)="setCartQuantityMinus()" class="btn btn-outline-secondary modal-input__button" type="button">-</button>
                              </div>
                              <input type="number" class="form-control modal-input__input" [value]="cartQuantity" disabled placeholder="" aria-label="">
                              <div class="input-group-append">
                                <button (click)="setCartQuantityPlus()" class="btn btn-outline-secondary modal-input__button" type="button">+</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <button (click)="addCart(item,cartQuantity,cartDaysRent)" class="my-modal__button btn btn-outline-warning btn-lg" data-bs-dismiss="modal" type="button">Thêm vào giỏ hàng</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
  </div>
  <div class="home-session">
    <div class="home-session__title">
      <h3>Combo Thuê Lều</h3>
    </div>
    <div class="home-session__category">
      <button (click)="setPipeComboCategory('AllCombo')" [class.card__button--selected]="pipeComboCategory === 'AllCombo'" class="card__button btn btn-outline-success btn-lg">Tất cả</button>
      <button (click)="setPipeComboCategory('Combo 2 người')" [class.card__button--selected]="pipeComboCategory === 'Combo 2 người'" class="card__button btn btn-outline-success btn-lg">Combo 2 người</button>
      <button (click)="setPipeComboCategory('Combo 4 người')" [class.card__button--selected]="pipeComboCategory === 'Combo 4 người'" class="card__button btn btn-outline-success btn-lg">Combo 4 người</button>
      <button (click)="setPipeComboCategory('Combo 6 người')" [class.card__button--selected]="pipeComboCategory === 'Combo 6 người'" class="card__button btn btn-outline-success btn-lg">Combo 6 người</button>
      <button (click)="setPipeComboCategory('Combo 12 người')" [class.card__button--selected]="pipeComboCategory === 'Combo 12 người'" class="card__button btn btn-outline-success btn-lg">Combo 12 người</button>
    </div>
      <div class="row w-100">
        <div class="col-lg-2"></div>
        <div class="row col-lg-8">
          <div class="col-lg-4" *ngFor="let item of products | arrayFilter: pipeComboCategory">
            <div class="home-session__card card">
              <img [src]="'assets/img/products/'+ item.image" [alt]="item.name" class="card__img w-100">
              <div class="card__body card-body">
                <div class="card__title">
                  <h4>{{item.name}}</h4>
                </div>
                <div class="card__price">
                  <p>{{item.price | number }} <sup>₫</sup>/ngày</p>
                </div>
                <div class="card__footer">
                  <button class="card__button btn btn-outline-success btn-lg" (click)="addCart(item)">Thêm vào giỏ hàng</button>
                  <button class="card__eyebutton btn btn-outline-success btn-lg" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#m'+item.id"><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
            <!-- The Modal -->
            <div class="modal" [attr.id]="'m'+item.id">
              <div class=" modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content ">

                  <!-- Modal body -->
                  <div class="modal-body my-modal__body">
                    <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal"></button>
                    <div class="row">
                      <div class="col-lg-6">
                        <img [src]="'assets/img/products/'+item.image" [alt]="item.name" class="w-100">
                      </div>
                      <div class="col-lg-6 my-modal__contents">
                        <h2 class="my-modal__name">Cho thuê {{item.name}}</h2>
                        <div class="my-modal__description">
                          <ul>
                            <li>Kích thước: {{item.description}}</li>
                          </ul>
                        </div>
                        <p class="my-modal__price">{{item.price | number }} <sup>₫</sup>/ngày</p>
                        <div class="my-modal__rent">
                          <p class="my-modal-rent__text">*Vui lòng chọn số ngày định thuê</p>
                          <button (click)="setCartDaysRent(1)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==1}" class="my-modal-rent__button btn btn-outline-secondary" type="button">1 Ngày</button>
                          <button (click)="setCartDaysRent(2)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==2}" class="my-modal-rent__button btn btn-outline-secondary" type="button">2 Ngày</button>
                          <button (click)="setCartDaysRent(3)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==3}" class="my-modal-rent__button btn btn-outline-secondary" type="button">3 Ngày</button>
                        </div>
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <button (click)="setCartQuantityMinus()" class="btn btn-outline-secondary modal-input__button" type="button">-</button>
                              </div>
                              <input type="number" class="form-control modal-input__input" [value]="cartQuantity" disabled placeholder="" aria-label="">
                              <div class="input-group-append">
                                <button (click)="setCartQuantityPlus()" class="btn btn-outline-secondary modal-input__button" type="button">+</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <button (click)="addCart(item,cartQuantity,cartDaysRent)" class="my-modal__button btn btn-outline-warning btn-lg" data-bs-dismiss="modal" type="button">Thêm vào giỏ hàng</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
  </div>
</div>

<!-- Cart Modal-->
<div class="modal" id="myCart">
  <div class="modal-dialog modal-fullscreen">
    <div class="cart-modal modal-content">

      <!-- Modal Header -->
      <div class="cart-modal__header modal-header">
        <h1 class="cart-modal__title modal-title">Giỏ hàng của bạn</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="cart-modal__body modal-body">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="row text-center" *ngIf="!cart.length">
              <h1>Bạn chưa có sản phẩm nào trong giỏ hàng!</h1>
            </div>
            <div class="row" *ngIf="cart.length">
              <table class="cart-table table table-striped">
                <thead class="table-dark">
                  <tr>
                    <td></td>
                    <td>Hình ảnh</td>
                    <td>Tên sản phẩm</td>
                    <td>Số ngày thuê</td>
                    <td>Số lượng</td>
                    <td>Đơn giá (1c/1ng)</td>
                    <td>Thành tiền</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody class="cart-table__body">
                  <tr *ngFor="let item of cart; let i = index">
                    <td>{{i+1}}</td>
                    <td><img [src]="'assets/img/products/'+ item.image" alt="" width="50px"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.timeRent.daysRent}}</td>
                    <td class="cart-table__quantity">
                      <button (click)="itemMinus(i)" class="btn btn-outline-secondary mr-5" type="button">-</button>
                      <p style="display: inline-block;">&emsp;{{item.inCart}}&emsp;</p> 
                      <button (click)="itemPlus(i)" class="btn btn-outline-secondary ml-5" type="button">+</button>
                    </td>
                    <td>{{item.price | number}} <sup>₫</sup></td>
                    <td>{{(item.price*item.inCart)*item.timeRent.daysRent| number}} <sup>₫</sup></td>
                    <td><button (click)="itemDelete(i)" class="btn btn-danger btn-lg">Xóa</button></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="cart-table__total" colspan="4"><h3>Tổng tiền: {{total | number}} <sup>₫</sup></h3></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="cart-modal__footer modal-footer">
          <button *ngIf="cart.length>0" (click)="payCart()" type="button" class="btn btn-success btn-lg" data-bs-dismiss="modal">Thanh Toán</button>
          <button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Invoice Modal -->
<div class="modal" id="myInvoice">
  <div class="modal-dialog modal-fullscreen">
    <div class="cart-modal modal-content">

      <!-- Modal Header -->
      <div class="cart-modal__header modal-header">
        <h1 class="cart-modal__title modal-title">Các hóa đơn của bạn</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="cart-modal__body modal-body">
        <div class="row text-center" *ngIf="!userInvoices.length">
          <h1>Bạn chưa có hóa đơn nào !</h1>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="row" *ngIf="userInvoices.length">
              <table class="cart-table table table-striped">
                <thead class="table-dark">
                  <tr>
                    <td>Mã HĐ</td>
                    <td>Số lượng</td>
                    <td>Tổng tiền</td>
                    <td>Thời gian</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody class="cart-table__body">
                  <tr *ngFor="let item of userInvoices; let i = index">
                    <td>{{item.invoiceId}}</td>
                    <td>{{item.cart.length}}</td>
                    <td>{{item.total | number}} <sup>₫</sup></td>
                    <td>{{item.time | date : 'd/M/Y, h:mm a'}}</td>
                    <td><button class="btn btn-info" (click)="setUserInvoiceIndex(i)"> <b>Xem</b> </button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row" *ngIf="userInvoices.length">
              <table class="cart-table table table-striped">
                <thead class="table-dark">
                  <tr>
                    <td></td>
                    <td>Hình ảnh</td>
                    <td>Tên sản phẩm</td>
                    <td>Số lượng</td>
                    <td>Số ngày thuê</td>
                    <td>Thời gian thuê</td>
                    <td>Thời gian trả</td>
                  </tr>
                </thead>
                <tbody class="cart-table__body">
                  <tr *ngFor="let item of userInvoices[userInvoiceIndex].cart; let i = index">
                    <td>{{i+1}}</td>
                    <td><img [src]="'assets/img/products/'+ item.image" alt="" width="50px"></td>
                    <td>{{item.name}}</td>
                    <td class="">
                      <p style="display: inline-block;">&emsp;{{item.inCart}}&emsp;</p> 
                    </td>
                    <td>{{item.timeRent.daysRent}}</td>
                    <td>{{item.timeRent.timeFrom | date : 'd/M/Y, h:mm a'}}</td>
                    <td>{{item.timeRent.timeTo | date : 'd/M/Y, h:mm a'}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="cart-modal__footer modal-footer">
          <button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Search Modal -->
<div class="modal" id="mySearch">
  <div class="modal-dialog modal-fullscreen">
    <div class="cart-modal modal-content">

      <!-- Modal Header -->
      <div class="cart-modal__header modal-header">
        <h1 class="cart-modal__title modal-title">Tìm kiếm sản phẩm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="cart-modal__body modal-body">
        <div class="input-group container">
          <input class="form-control border-end-0 border rounded-pill" type="text" style="font-size: 2.2rem;" [(ngModel)]="searchInput" placeholder="Nhập tên sản phẩm bạn muốn tìm kiếm..." id="example-search-input">
          <div class="row w-100">
            <div class="row col-lg-12">
              <div class="col-lg-3" *ngFor="let item of products | searchFilter : searchInput">
                <div class="home-session__card card">
                  <img [src]="'assets/img/products/'+ item.image" [alt]="item.name" class="card__img w-100">
                  <div class="card__body card-body">
                    <div class="card__title">
                      <h4>{{item.name}}</h4>
                    </div>
                    <div class="card__price">
                      <p>{{item.price | number }} <sup>₫</sup>/ngày</p>
                    </div>
                    <div class="card__footer">
                      <button class="card__button btn btn-outline-success btn-lg" (click)="addCart(item)">Thêm vào giỏ hàng</button>
                      <button class="card__eyebutton btn btn-outline-success btn-lg" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#m'+item.id"><i class="fa-solid fa-eye"></i></button>
                    </div>
                  </div>
                </div>
                <!-- The Modal -->
                <div class="modal" [attr.id]="'m'+item.id">
                  <div class=" modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content ">
    
                      <!-- Modal body -->
                      <div class="modal-body my-modal__body">
                        <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal"></button>
                        <div class="row">
                          <div class="col-lg-6">
                            <img [src]="'assets/img/products/'+item.image" [alt]="item.name" class="w-100">
                          </div>
                          <div class="col-lg-6 my-modal__contents">
                            <h2 class="my-modal__name">{{item.name}}</h2>
                            <div class="my-modal__description">
                              <ul>
                                <li>Kích thước: {{item.description}}</li>
                              </ul>
                            </div>
                            <p class="my-modal__price">{{item.price | number }} <sup>₫</sup>/ngày</p>
                            <div class="my-modal__rent">
                              <p class="my-modal-rent__text">*Vui lòng chọn số ngày định thuê</p>
                              <button (click)="setCartDaysRent(1)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==1}" class="my-modal-rent__button btn btn-outline-secondary" type="button">1 Ngày</button>
                              <button (click)="setCartDaysRent(2)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==2}" class="my-modal-rent__button btn btn-outline-secondary" type="button">2 Ngày</button>
                              <button (click)="setCartDaysRent(3)" [ngClass]="{'my-modal-rent__button--selected': cartDaysRent==3}" class="my-modal-rent__button btn btn-outline-secondary" type="button">3 Ngày</button>
                            </div>
                            <div class="row">
                              <div class="col-lg-4">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <button (click)="setCartQuantityMinus()" class="btn btn-outline-secondary modal-input__button" type="button">-</button>
                                  </div>
                                  <input type="number" class="form-control modal-input__input" [value]="cartQuantity" disabled placeholder="" aria-label="">
                                  <div class="input-group-append">
                                    <button (click)="setCartQuantityPlus()" class="btn btn-outline-secondary modal-input__button" type="button">+</button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-8">
                                <button (click)="addCart(item,cartQuantity,cartDaysRent)" class="my-modal__button btn btn-outline-warning btn-lg" data-bs-dismiss="modal" type="button">Thêm vào giỏ hàng</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="cart-modal__footer modal-footer">
          <button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
