
    <header class="header">
      <!-- Header Logo Image -->
      <div class="header__logo">
        <img src="assets/img/header/LogoHicampingnentrang.png" alt="">
      </div>
      <!-- Header Navbar -->
      <nav class="header__navbar">
        <ul class="header__navbar-list">
          <li class="header__navbar-item">
            <a href="" class="header__navbar-item-link">
              <img src="assets/img/header/camping-53x53.png" alt="" class="header__navbar-item-img">
              <span>Lều Cắm Trại</span>
            </a>
            <div class="header__navbar-item-submenu">
              <ul class="header__navbar-item-submenu-list">
                <li class="header__navbar-item-submenu-item">
                  <a href="#">
                    Lều 2 Người
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="#">
                    Lều 4 Người
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="#">
                    Lều 6 Người
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="#">
                  Lều 12 Người
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header__navbar-item">
            <a href="" class="header__navbar-item-link">
              <img src="assets/img/header/Combo1-53x53.png" alt="" class="header__navbar-item-img">
              <span>Combo Thuê Lều</span>
            </a>
            <div class="header__navbar-item-submenu">
              <ul class="header__navbar-item-submenu-list">
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Combo 2 Người
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Combo 4 Người
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                  Combo 6 Người
                  </a>
                 </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Combo 12 Người
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- <li class="header__navbar-item">
            <a href="" class="header__navbar-item-link">
              <img src="assets/img/header/sub-53x53.png" alt="" class="header__navbar-item-img">
              <span>Thuyền SUP – Thuyền Hơi</span>
            </a>
            <div class="header__navbar-item-submenu">
              <ul class="header__navbar-item-submenu-list">
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Thuyền SUP
                  </a>
                  </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                  Thuyền Hơi
                  </a>
                </li>
              </ul>
            </div>
          </li> -->
          <!-- <li class="header__navbar-item">
            <a href="" class="header__navbar-item-link">
              <img src="assets/img/header/fire-53x53.png" alt="" class="header__navbar-item-img">
              <span>Phụ Kiện Dã Ngoại</span>
            </a>
            <div class="header__navbar-item-submenu">
              <ul class="header__navbar-item-submenu-list">
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                  Phụ Kiện Dã Ngoại
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Bàn Ghế Dã Ngoại
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Đèn Dã Ngoại
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Phụ Kiện BBQ
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Trekking
                  </a>
                </li>
              </ul>
            </div>
          </li> -->
          <!-- <li class="header__navbar-item">
            <a href="" class="header__navbar-item-link">
              <img src="assets/img/header/camera-53x53.png" alt="" class="header__navbar-item-img">
              <span>Camera Hành Trình</span>
            </a>
            <div class="header__navbar-item-submenu">
              <ul class="header__navbar-item-submenu-list">
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Camera Hành Trình
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Bộ Đàm
                  </a>
                  </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Loa Kéo
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header__navbar-item">
            <a href="" class="header__navbar-item-link">
              <img src="assets/img/header/camping-2-53x53.png" alt="" class="header__navbar-item-img">
              <span>Bán Lều Cắm Trại</span>
            </a>
            <div class="header__navbar-item-submenu">
              <ul class="header__navbar-item-submenu-list">
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Lều Cắm Trại Mới 100%
                  </a>
                </li>
                <li class="header__navbar-item-submenu-item">
                  <a href="">
                    Lều Đã Qua Sử Dụng
                  </a>
                </li>
              </ul>
            </div>
          </li> -->
        </ul>
      </nav>
      <!-- Header Button -->
      <div class="header__button">
        <button type="button" class="menu-button" data-bs-toggle="modal" data-bs-target="#myCart"><i class="fa-solid fa-basket-shopping"></i></button>
        <button type="button" class="menu-button" data-bs-toggle="modal" data-bs-target="#mySearch"><i class="fa-solid fa-search"></i></button>
      </div>
      <!-- Header Login -->
      <div *ngIf="userLogin != null" class="header__login">
        <div class="header-login__item">
          <button type="button" data-bs-toggle="modal" data-bs-target="#myInvoice" style="border: none; background-color:white">
            <a><i class="fa-solid fa-list"></i>Lịch sử đơn hàng</a>
          </button>
        </div>
        <div *ngIf="isAdmin" class="header-login__item">
          <a [routerLink]="['/admin']"><i class="fa-solid fa-user-shield"></i>Go to Admin</a>
        </div>
        <div class="header-login__item">
          <a ><i class="fa-solid fa-user"></i>{{userLogin.name}}</a>
        </div>
        <div class="header-login__item" (click)="logout()">
          <a><i class="fa-solid fa-user-xmark"></i>Đăng Xuất</a>
        </div>
      </div>
      <!-- Header Login -->
      <div *ngIf="userLogin == null" class="header__login">
        <div class="header-login__item">
          <a [routerLink]="['/auth/login']"><i class="fa-solid fa-user"></i>Đăng nhập</a>
        </div>
        <div class="header-login__item">
          <a [routerLink]="['/auth/register']"><i class="fa-solid fa-user-plus"></i>Đăng kí</a>
        </div>
      </div>
    </header>
<router-outlet></router-outlet>
<div class="grid footer">
  <footer class="footer">
  <div class="row">
    <div class="footer__about col-lg-4">
      <h4 class="footer__title">CÔNG TY TNHH THƯƠNG MẠI-DỊCH VỤ T&T SÀI GÒN</h4>
      <ul class="footer__list">
        <li class="footer-list__item">Cửa Hàng: DatDatLeuTrai - Cho Thuê Lều Cắm Trại - Thiết Bị Dã Ngoại </li>
        <li class="footer-list__item">Mở Cửa: Từ 9h am - 9h pm, Kể Cả Ngày Lễ Và CN </li>
        <li class="footer-list__item">Địa Chỉ: 12 Trịnh Đình Thảo, Hòa Thạnh, Tân Phú, TP.HCM </li>
        <li class="footer-list__item">MSSV: 501200527 </li>
        <li class="footer-list__item">Tên: Trần Thành Đạt</li>
        <li class="footer-list__item">Email: <a href="mailto:501200527@stu.itc.edu.vn">501200527@stu.itc.edu.vn</a> </li>
        <li class="footer-list__item">Điện thoại: <a href="tel:0909509348">0909509348</a> </li>
      </ul>
    </div>
    <div class="footer__rules col-lg-4">
      <h4 class="footer__title">Điều Khoản</h4>
      <ul class="footer__list">
        <li class="footer-list__item"><a href="#">Chính sách bảo vệ thông tin cá nhân người tiêu dùng</a></li>
        <li class="footer-list__item"><a href="#">Chính Sách Bảo Hành/ Đổi Trả Sản Phẩm</a></li>
        <li class="footer-list__item"><a href="#">Thông tin về Đặt hàng và Thanh toán</a></li>
        <li class="footer-list__item"><a href="#">Thông tin về điều kiện giao dịch chung</a></li>
        <li class="footer-list__item"><a href="#">Thông tin về vận chuyển và giao nhận</a></li>
      </ul>
      <img src="assets/img/auth/bocongthuong.png" alt="">
    </div>
    <div class="footer__social col-lg-4">
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fbluesua%2Fphotos%2Fa.240017323519413%2F801504050704068%2F&show_text=true&width=400" width="380" height="389" style="border:none;overflow:hidden;object-fit: cover;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  </div>
  </footer>
</div>
