<div class="wrapper">
    <div class="row text-center" *ngIf="!invoices.length">
        <h1>Chưa có hóa đơn nào!</h1>
    </div>
    <div class="container mt-5 justify-content-between">
    <h1>Danh sách hóa đơn</h1>
    </div>
    <div class="row mt-3" *ngIf="invoices.length">
        <div class="col-lg-12">
            <table class="cart-table table table-striped">
                <thead class="table-dark">
                  <tr>
                    <td>Mã HĐ</td>
                    <td>Mã User</td>
                    <td>Tên User</td>
                    <td>Số lượng</td>
                    <td>Tổng tiền</td>
                    <td>Thời gian</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody class="cart-table__body">
                  <tr *ngFor="let item of invoices | orderBy: orderByType : orderByReverse ; let i = index">
                    <td>{{item.invoiceId}}</td>
                    <td>{{item.user.id}}</td>
                    <td>{{item.user.name}}</td>
                    <td>{{item.cart.length}}</td>
                    <td>{{item.total | number}} <sup>₫</sup></td>
                    <td>{{item.time | date : 'd/M/Y, h:mm a'}}</td>
                    <td><button class="btn btn-info" (click)="viewInvoice(i)" data-bs-toggle="modal" data-bs-target="#myModal"> <b>Xem</b> </button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="cart-modal__header modal-header">
        <h1 class="cart-modal__title modal-title">Chi tiết hóa đơn</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="col-lg-12">
                <table class="cart-table table table-striped">
                    <thead class="table-dark">
                      <tr>
                        <td>STT</td>
                        <td>Hình ảnh</td>
                        <td>Tên sản phẩm</td>
                        <td>Đơn giá</td>
                        <td>Số lượng</td>
                        <td>Số ngày thuê</td>
                        <td>Thời gian thuê</td>
                        <td>Thời gian trả</td>
                        <td>Thành tiền</td>
                      </tr>
                    </thead>
                    <tbody class="cart-table__body">
                      <tr *ngFor="let item of invoices[invoiceIndex].cart; let i = index">
                        <td>{{i+1}}</td>
                        <td><img [src]="'assets/img/products/'+ item.image" alt="" width="50px"></td>
                        <td>{{item.name}}</td>
                        <td>{{item.price | number}} <sup>₫</sup></td>
                        <td>{{item.timeRent.daysRent}}</td>
                        <td class="">
                          <p style="display: inline-block;">&emsp;{{item.inCart}}&emsp;</p> 
                        </td>
                        <td>{{item.timeRent.timeFrom | date : 'd/M/Y, h:mm a'}}</td>
                        <td>{{item.timeRent.timeTo | date : 'd/M/Y, h:mm a'}}</td>
                        <td>{{(item.price*item.inCart)*item.timeRent.daysRent| number}} <sup>₫</sup></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div>
</div>